<!DOCTYPE html>

<html>
    <head>
        <title>GT:NH Multiblock Resource Calculator</title>
		<meta name="referrer" content="no-referrer-when-downgrade" />
		<style>
        @font-face {
            font-family:'Minecraftia';
            src: url(/static/F77MinecraftRegular-0VYv.ttf);
        }
        p, strong, div, caption, td, tr, button, option, input, h3, article, header, h1 {
            font-family: 'Minecraftia', sans-serif;
        }
        </style>
    </head>
    <body style="background-image: url('https://raw.githubusercontent.com/Chitak985/gtnh-multiblocks/refs/heads/main/backgroundTile.png'); background-color: rgba(255, 255, 255, 0.8); background-blend-mode: lighten; background-size: 25%;">
        <table style="background-color: #999999; margin: auto;">
            <tr><td><h1 style="text-align: center; marign: auto; font-family: 'Minecraftia', monospace;"> GregTech: New Horizons Multiblock Resource Calculator </h1></td></tr>
        </table>
        <article style="height: auto !important;">
<header><h1>Privacy Policies, Terms, and Conditions</h1></header>
<hr>
<h3>Purpose of this website</h3>
<p>
This website's sole purpose is to provide information on GregTech: New Horizons multiblocks and allow the user to run various calculations related to them. 
This website does not offer paid content or paid services and is entirely free.
</p>

<h3>Author</h3>
<p>
The author of this website is Chitak, sometimes known as Chitak985.
</p>

<h3>Cookies</h3>
<p>
The website itself does not use cookies to store information about users.
No cookies are necessary for the users to interact with the website content.
Third-party cookies by Google, controlled by Google AdSense service, can be collected for personalizing advertisements.
These cookies are not directly related to the website functionality.
These cookies can be used by Google LLC and its partners based on the visits of this website and other unrelated websites to serve personalized ads.
Ads personal settings can be changed by the users at <a href="https://www.google.com/settings/ads">this link</a>.
Any ads placed on this website can be personalized according to the collected cookies from this or other websites.
Further information and options about opting out the advertising cookies can be found at <a href="https://www.aboutads.info">AboutAds.info</a>.
</p>

<h3>Privacy and gathered information</h3>
<p>
The website does not contain any registration or login service and does not require any personal information from its visitors.
Any user submitting a comment to this website agrees to the storage of the content of the comment, the inserted username, the time of the posting, and the IP address of the browsing device.
IP address is stored in order to prevent spam and harmful bots posting unsuitable comments that might be disrespectful or suspicious.
The IP address is not used for any other purposes and is stored in a secured database.
The users can request removal of their posted comments at any time.
No additional fingerprint information about the users is stored.
The user location data is not analyzed or stored by this website.
</p>

<h3>Safety</h3>
<p>
Any advice, tips, and information published on this website are based on personal experience of the author and are not professional articles.
Following any advice present on this website is voluntary and at one's own risk.
The author assumes no responsibility for possible misinterpretation or harm caused by the information on this website.
All the information on this website is posted with a good intention, observing generally accepted moral principles.
This website does not contain anything related to child abuse, pornography, violence encouragement, illegal actions, dangerous and harmful actions, animal cruelty, or dishonest or deceptive practices.
This website does not contain any malicious software or malware.
</p>

<h3>Copyright</h3>
<p>
All screenshots taken are the author's property, however they are distributed under the GNU General Public License v3.0.<br>
All icons, contents of screenshots, and related materials featured on this website are the property of their respective copyright holders. This site does not claim ownership of these materials. They are used here for informational and illustrative purposes only. All trademarks and copyrights belong to their respective owners.<br>
The main font used in the website is <a href="https://www.fontspace.com/f77-minecraft-font-f30628">F77 Minecraft by 123467</a> and is not the author's property.<br>
The author of this website does not own the copyright of such materials and any further usage must be carried out according to the original author's guidelines.<br>
This website does not intentionally break any copyright rules, follows DMCA statement, and the ownership of the original materials is respected and well referenced.
</p>
        </article>
        <form action="https://gtnhmultiblocks.pythonanywhere.com/">
            <input type="submit" value="Return to the main page">
        </form>
    </body>
</html>